# .coveragerc to control coverage.py
[run]
branch = True
data_file = app/local/.coverage
source =
    ./app/

omit =
    */factories.py
    */migrations/*
    app/manage.py
    app/app/asgi.py
    app/app/wsgi.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    noqa

    # Don't complain about missing debug-only code:
    def __repr__
    def __str__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    @abstractmethod

show_missing = True
ignore_errors = True

[html]
directory = app/local/htmlcov
